body {
  background-color: #1c1c1c;
  font-family: "Jura", sans-serif;
  color: white;
}

h1 {
  text-decoration: underline;
  color: white;
}

.navbar {
  background-color: #000000 !important;
  font-family: "Jura", sans-serif;
}

.navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.navbar-brand:hover {
  color: white !important;
  cursor: default;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #888888;
}

.nav-link.active{
  color: white !important;
  font-weight: bold;
  text-decoration: none;
}

footer {
  background-color: #000000;
  color: white;
}

.lato-regular {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.jura-<uniquifier> {
  font-family: "Jura", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: white;
}

.project-img {
  border: 1px solid #000000
}

.project-button {
  display: block;
  text-decoration: none;
  color: inherit;
  border: none;
  padding: 0;
}

.project-card {
  transition: transform 0.2s;
}

.project-card:hover {
  transform: scale(1.02);
}

.project-img {
  max-height: 200px;
  object-fit: cover;
}

